
<div class="container">

  <div class="small-container">
    <h1> My tasks </h1>

    <% @tasks.each do |tarea| %>
      <% tarea.title %> 
      <p> <%= tarea.id %> <%= link_to tarea.title, task_path(tarea.id), class: "link"%> </p>
      <% end %>
  </div>
    
    <%= link_to new_task_path, class: "bottom" do %> 
    New Task 
    <% end %>

</div>



 <!--  link_to = vaya a / dirigirse a------ task_path = la ruta definida en routes.rb   -- !>


 <% @tasks.each do |tarea| %>
    <li> <% tarea.title %> Al hacer click pasale este numero al show <%= tarea.id %>
    <%= link_to tarea.title, task_path(tarea.id) %> al hacer click en el titulo(tarea.title) busque en el archivo routers si existe una linea que haga referencia a show  </li> 
    <% end %>